.cardContainer{
    flex: 10;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    z-index: -2;

    .card{
        margin: 10px 10px 10px 15px;
        border: 2px solid #ededed;
        padding: 20px;
        cursor: pointer;
        height: 280px;

        img{
            width: 13rem;
            margin-bottom: 1rem;
        }

        .cardDetails {

            h3{
               margin-bottom: 1rem; 
            }
    
            .cardReviews {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
    
                .ratingStar{
                    color: #d5ab55;
                }

                .totalReviews{
                    font-size: 1.2rem;
                    margin-left: 10px;
                }
            }

            .cardPrice{
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}